Модель
------
- Содержит неизменяемые данные
- Однотипные объекты могут наследоваться командной is-a
- Описывает:
  - Доску
    - Список именованных позиций (узлов графа) заданных командой pos
    - Список связей (окрашенных дуг графа) заданных командами link
    - Может использовать многомерные матрицы для более компактного описания
      - Определение измерений (dim) автоматически формирует позиции [1]
      - Определение направлений (dir) автоматически формирует связи [2]
      - Позиции и связи могут быть удалены командой unlink
      - Позиции могут быть связаны вручную [3]
      - Можно определить несколько матриц, связав их между собой [4]
    - Именованные переменные (var) [5]
  - Игроков
    - Имя игрока
    - Описание игровых зон [6]
  - Фигуры
  - Игры
- Не содержит данных, необходимых для визуализации

[1] Пример определения трёхмерной доски, не содержащей "j":

(board
   (dim "a-ik-o")
   (dim "a-ik-o")
   (dim "1-3")
)

приводит к тому, что становятся определены aa1, ... ai1, ai2, ai3, ak1, ... oo3

[2] Пример определения связей:

(board
   (dim "a-b")
   (dim "2-1")
   (dir (name n)   0 -1) ; a1 -> a2, b1 -> b2
   (dir (name e)   1  0) ; a1 -> b1, a2 -> b2
   (dir (name s)   0  1) ; a2 -> a1, b2 -> b1
   (dir (name w)  -1  0) ; b1 -> a1, b2 -> a2
)

n, e, s, w - окраска дуг (имена направлений могут повторяться на дугах)

[3] Для определения доски замкнутой в цилиндр можно использовать grid
    с последующим доопределнием недостающих дуг:

(board
   (name chess-board)
   (dim "a-h")
   (dim "8-1")
   (link w a1 h1)
   (link w a2 h2)
   ...
)

[4] Пример определения двух матриц:

(board
   (name a)
   (dim "1-2")
   (dim "a-b")
   (dir (name n) 0 1)
)

(board
   (name b)
   (dim "a-b")
   (dim "2-1")
   (dir (name n) 0 -1)
)

(board
   (is-a a)
   (is-a b)
   (link n a1 1a)
   ...
)

[5] Переменные - часть состояния доски, не связанная с какими либо позициями,
    могут использоваться для подсчёта взятых фигур

(board
   (name go-board)
   (dim "A-HJ-T")
   (dim "19-1")
   (var w-captured)
   (var b-captured)
)
    
[6] Зоны превращения пешек могут быть описаны следующим образом:

(player
   (name White)
   (zone (name promotion) a8 b8 c8 d8 e8 f8 g8 h8)
)

(player
   (name Black)
   (zone (name promotion) a1 b1 c1 d1 e1 f1 g1 h1)
)
